.CradcontainerSpice{
    overflow: hidden;
    width: 100vw;
    background-color: rgb(212, 212, 212);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
  }
  .VoltaSpiceHeading{
    padding: 2%;
    font-size: 200%;
    text-decoration: underline;
  }
  
  .descripofvoltaSpiceFadeIn{
    font-size: 150%;
    width: 90%;
    animation: fadeIn 2s ease-in;
  }
  .descripofvoltaSpiceFadeOut{
    animation: fadeOut 2s ease-out;
  }
  
  .learnmorebuttonSpice{
    padding-top: 2%;
    padding-bottom: 2%;
  }
  
  .plusbuttonSpice{
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 35%;
    padding-left: 35%;
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .plusbuttonSpice{
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .plusbuttonSpice:active,
  .plusbuttonSpice:hover {
    outline: 0;
  }
  
  .plusbuttonSpice span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  .plusbuttonSpice:hover span {
    background: none;
  }
  
  @media (min-width: 768px) {
    .plusbuttonSpice {
      font-size: 24px;
      min-width: 196px;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.9;
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 0.9;
    }
    100% {
      opacity: 0;
    }
  }