.contactcontainer{
  display: flex;
  flex-direction: row;
  margin-top: 15%;
}
.formContainer{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 4%;

}
.displayContacts{
  margin-left: 5%;
  margin-top: 5%;
  font-size: 150%;
  width: 40%;

}

.contactsPageContainer{
    display: flex;
    width: 100vw;
    align-items: center;
    flex-direction: row;
    background: #757575;
    /* color: white; */
    color: black;
    overflow: hidden;
    /* background-color: rgb(121, 121, 121); */
}



.textheadercontact{
    font-size: 350%;
}


.sendButtonContact{
  padding-top: 10%;
  padding-bottom: 10%;
  padding-right: 35%;
  padding-left: 35%;
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.sendButtonContact{
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.sendButtonContact:active,
.sendButtonContact:hover {
  outline: 0;
}

.sendButtonContact span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.sendButtonContact:hover span {
  background: none;
}

@media (min-width: 768px) {
  .sendButtonContact {
    font-size: 24px;
    min-width: 196px;
  }
}



.titleforcontact{
  padding-left: 25%;
}

.nameandemaildiv{
  display: flex;
  width: 65%;
  flex-direction: row;
  justify-content: end;
  /* background-color: #5B42F3;  */
  margin-bottom: 3%;
}
.nameInputContact{
  margin-right: 50%;
  width: 100%;
}


.emailinputContactUs{
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
}

.emailInputContactContainer{
  width: 150%;
}
/* .nameInputContact{
  width: 65%;
  margin: 1rem 0;
  border-radius: 4px;
}

.emailinputContactUs{
  padding: 17%;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
}

.phoneinputContactUs{
  padding: 17%;
  border: 0;
  width: 100%;
  align-self: end;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;

} */


/* 
.emailandphone{
  display: flex;
  width: 65%;
  flex-direction: row; */
  /* align-items: center; */
  /* margin-bottom: 2%;
} */


.messageInput{
  width: 65%;
}

.inputContactUs{
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
}

.textareaContactUs{
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
  width: 100%;
  min-height: 15em;
}


.plusbuttonSpice{
  padding-top: 10%;
  padding-bottom: 10%;
  padding-right: 35%;
  padding-left: 35%;
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.plusbuttonSpice{
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.plusbuttonSpice:active,
.plusbuttonSpice:hover {
  outline: 0;
}

.plusbuttonSpice span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.plusbuttonSpice:hover span {
  background: none;
}

@media (min-width: 768px) {
  .plusbuttonSpice {
    font-size: 24px;
    min-width: 196px;
  }
}
.sendButtonContact{
  padding-top: 10%;
  padding-bottom: 10%;
  padding-right: 35%;
  padding-left: 35%;
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.sendButtonContact{
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.sendButtonContact:active,
.sendButtonContact:hover {
  outline: 0;
}

.sendButtonContact span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.sendButtonContact:hover span {
  background: none;
}

@media (min-width: 768px) {
  .sendButtonContact {
    font-size: 24px;
    min-width: 196px;
  }
}


@media (max-width: 768px) {
  .contactcontainer{
    flex-direction: column;
    margin-top: 5%;
  }
}

@media (max-width:1000px ) {
  .emailandphone{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
  }
  .phoneinputContactUs{
    margin-top: 5%;
  }
  
  
}