.carousel {
  margin-top: 20%;
}

.carousel__prev,
.carousel__next {
  /* position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 24px; */
  cursor: pointer;
}

.carousel__prev {
  left: 0;
}

.carousel__next {
  right: 0;
}

.carousel__container {
  display: flex;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.carousel__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
  position: relative;
}

.carousel__item:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50%;
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%); */
  z-index: 2;
}

.carousel__item--active {
  z-index: 1;
}

.carousel__image {
  width: 50%;
  height: 100%;
  padding-left: 5%;
  padding-top: 2%;
  background-color: #222222;

}

.carousel__image img {
  width: 280px;
  height: 280px;
}

.carousel__desc {
  width: 50%;
  height: 100%;

  padding: 16px;
  margin: 0;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: #222222;
  z-index: 2;
}



.whoarewe{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  background-color: rgb(53, 117, 53);
  background-color:  rgb(86, 144, 211);
  color: white;

}

.aboutuscontainer{
  padding-top: 6%;
}
.whoareweparagraph{
  padding-top: 2%;
  font-size: 150%;
}
.team{
  text-align: center;
}
.aboutuspage {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    background-color: white;
  }

/* .carouselSlideInfo{
  width: 100vw;
  display: flex;
  flex-direction: row;
  color: white;
}

.carouselSlideCaptions{
  text-align: end;
} */
  
  /* .firstrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
  }
  
  .secondrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  
  .firstImagecontainer,
  .SecondImagecontainer,
  .thirdImagecontainer,
  .fourthImagecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 600px;
    border-radius: 10px;
    margin: 0 20px;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB) border-box;
    border: 4px solid transparent;
    color:  rgb(31, 31, 97);
    
    

  }

  .firstImagecontainer{
    margin-right: 7%;
  }

  .thirdImagecontainer{
    margin-right: 7%;
  }
  
  .firstimage,
  .secondimage,
  .thirdimage,
  .fourthimage {
    cursor: pointer;
  }
  
  .card {
    padding: 20px;
    text-align: left;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .image-container:hover .image-overlay {
    opacity: 1;
  }
  
  .image-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;

  }

  .image-button:hover{
    border-radius: 10px;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB) border-box;
    border: 4px solid transparent;
    color:  rgb(31, 31, 97);

  } */