* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    /* overflow: hidden; */
    /* overflow-x: hidden; */

}
.container{
    display: inline-flex;
    flex-direction: column;
    background-color: #00746e;
    width: 100vw;
    height: 90vh;
}

.parallax1 {
    /* The image used */
    background-image: url('./VoltaTrace.png');
  
    /* Full height */
    height: 45;
    width: 45; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .parallax2 {
    /* The image used */
    background-image: url('./VoltaColoured.png');
  
    /* Full height */
    height: 45;
    width: 45;   
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
.holder{
    animation: dance 0.5s infinite;
    padding-top: 20%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    
}
.container .dynamiclist{
    line-height: 90px;
    width: 100vw;
    /* background-color: #023058; */
    overflow: hidden;
}

/* .dynamiclist li::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: #00746e;
    border-left: 2px solid #023058;
    animation: typing 5s steps(44) infinite;
}
.dynamiclist li{
    list-style: none;
    color: #023058;
    position: relative;
} */

.Textheader{
    text-align: left;
    font-size: 300%;
    padding-left: 10%;
    padding-top: 5%;
    animation: slideInLeft 2s 1;
}
.Subheading{
    text-align: left;
    font-size: 200%;
    padding-left: 10%;
    color: #023058;
    animation: slideInLeft 4s 1;
}
.headerholder{
    width: 90%;
    padding-top: 0;
}

.button{
    background-color: black;
    color: white;
    font-size: large;
    border-radius: 41%;
    padding-right: 5em;
    padding-left: 5em;
    padding-top: 2em;
    padding-bottom: 2em;
    font-weight: 900;
    cursor: pointer;
}
@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
@keyframes typing{
    40%,60%{
        left: calc(30% + 1px);
    }
    100%{
        left: 0;
    }
}


@keyframes dance {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0px);
    }
    
}