* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.containerFirstBodyComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./milling.jpg');
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.headertitleFirstBodyComponent {
  color: brown;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-decoration: underline;
}

.TextheaderFirstBodyComponent {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 1rem;
  animation: slideInLeft 2s 1;
}

.SubheadingFirstBodyComponent {
  text-align: center;
  font-size: 2rem;
  color: white;
  animation: slideInLeft 4s 1;
}

.buttonFirstBodyComponent {
  background-color: brown;
  color: white;
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .TextheaderFirstBodyComponent {
    font-size: 3rem;
  }

  .SubheadingFirstBodyComponent {
    font-size: 1.5rem;
  }

  .buttonFirstBodyComponent {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .TextheaderFirstBodyComponent {
    font-size: 2rem;
  }

  .SubheadingFirstBodyComponent {
    font-size: 1rem;
  }

  .buttonFirstBodyComponent {
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
  }
}

.bulletPoints {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #222;
  padding-left: 3%;
  margin-left: 5%;
  font-size: 2.5rem;
  margin-bottom: 7%;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width: 768px) {
  .bulletPoints {
    font-size: 2.5rem;
  }
  .headertitleFirstBodyComponent{
    font-size: 3rem;
  }
}

@media only screen and (max-width: 480px) {
  .bulletPoints {
    font-size: 2rem;
    padding-left: 2%;
    margin-left: 3%;
    margin-bottom: 3%;
  }
}
