.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: white; */
    background-color: #222;
    padding: 3% 5%; /* Use padding shorthand to add equal padding on top and bottom and add left and right padding */
  }
  
  .footerContainer {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-between; /* Use justify-content to add space between the elements */
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Add max-width to limit the width of the container on large screens */
    padding: 2% 0; /* Use padding shorthand to add equal padding on top and bottom */
  }
  
  .headerwithdetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%; /* Use padding shorthand to add equal padding on left and right */
  }
  
  .Contacts {
    text-align: center; /* Center the text */
    padding: 2% 5%; /* Use padding shorthand to add equal padding on top and bottom and add left and right padding */
  }
  
  .Socials {
    display: flex;
    justify-content: space-between; /* Use justify-content to add space between the elements */
    align-items: center;
    width: 100%;
    max-width: 400px; /* Add max-width to limit the width of the container on large screens */
    padding: 2% 5%; /* Use padding shorthand to add equal padding on top and bottom and add left and right padding */
  }
  
  .subscribeContainer {
    background-color: white;
    color: blue;
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    height: auto;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  }
  
  
  .inputforsubcription {
    width: 100%; /* Add width to make the input field dynamic */
    font-size: larger;
    padding: 2% 5%; /* Use padding shorthand to add equal padding on top and bottom and add left and right padding */
    box-sizing: border-box; /* Add box-sizing to include padding in the width */
  }
  
  .btn {
    display: inline-block;
    background: transparent;
    color: white;
    border: 0;
    outline: 0;
    font-size: larger;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
    margin-top: 2%;
    background-color: rgb(54, 34, 145);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    padding: 3% 8%; /* Use padding shorthand to add equal padding on top and bottom and add left and right padding */
  }
  
  @media only screen and (min-width: 768px) {
    .footerContainer {
      flex-direction: row; /* Change the direction to horizontal on medium and large screens */
      height: auto;
    }  }