
.HomeApp {
    display: flex;
    flex-direction: column;
    overflow: hidden;

  }
  
  .HomeApp > div {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .HomeApp > div.loaded {
    opacity: 1;
  }
  