.Holder{
    width: 100vw;
    height: 70vh;
    overflow: hidden;
    background-color: rgb(212, 212, 212);
    padding-bottom: 10%;
}
.title{
    text-decoration: underline;
    font-size: 400%;
}
.subdiv{
     display: flex;
    flex-direction: row;

}

.Writting{
    align-items: left;
    width: 50%;
    height: 100%;
    padding-top: 8%;
    padding-left: 8%;

}
.FirstParagraph{
    font-size: larger;
    animation: slideInLeft 4s 1;

}
.containerTitle{
    padding-left: 43%;
}
.image{
    margin-left: 15%;
    padding-top: 2%;
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
@keyframes typing{
    40%,60%{
        left: calc(30% + 1px);
    }
    100%{
        left: 0;
    }
}
